@inject IJSRuntime JS



    <ul class="dropdown-select inactive" @ref="divElement">
        @PlaceHolder
        <i class="bi bi-chevron-compact-right"></i>
        <i class="bi bi-chevron-compact-left"></i>
        <div class="dropdown-items">
            @ChildContent
        </div>

    </ul>

@code {
    [Parameter] public string PlaceHolder { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    private IJSObjectReference module;
    private ElementReference divElement;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/select.js");
        await module.InvokeAsync<string>("SelectUi", divElement);
    }
}
