@inject IUserManager UserManager;
@inject NavigationManager Navigation;

<div class="row logout">
    <h4><b>Hellos, @context.User.Identity.Name</b></h4>
    <div class="form-item left">
        <button class="btn" @onclick="LogOutSession">Cerrar Sesión</button>
    </div>
        
    </div>
    <style>
        .logout {
            width: 30%;
            display: flex;
            justify-content: space-between;
        }
    </style>
    @code { [Parameter]
                public AuthenticationState context { get; set; }
                public async Task LogOutSession()
                {
                    await UserManager.LogOutUser(() => Navigation.NavigateTo("/login", true));
                } }
